/*
Styles modified from https://github.com/barrytsmith/txti-cms/blob/master/index.html.
*/

body {
    font-family: sans-serif;
    background: #eee;
    max-width: 50em;
    margin: auto;
    padding: 1em;
    line-height: 1.5;
    font-size: 100%;
}

img {
    max-width: 100%;
    box-sizing: border-box;
    display: block;
    margin: .5em auto;
    padding: .5em;
    border: none;
}

h1 {
    color: black
}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid green;
}

    a:hover {
        color: green
    }

table {
    border: 1px solid black;
}

/*
Styles modified from https://www.tipsandtricks-hq.com/simple-table-of-contents-toc-using-pure-html-and-css-code-9217.
*/
#toc_container {
    border: 1px solid #aaa;
    display: table;
    font-size: 95%;
    margin-bottom: 1em;
    padding: 20px;
    width: auto;
}

.toc_title {
    font-weight: 700;
    text-align: center;
}

#toc_container li, #toc_container ul, #toc_container ul li {
    list-style: outside none none !important;
}
